*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: rgba(104, 36, 68, 0.98);
    height: 110px;
    display: flex;
}

footer{
    background: rgba(104, 36, 68, 0.98);
    height: 110px;
}

body{
    background: #5b1827b4;
}

.container1{
    background-image: url(../JPG/BatizFondo.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    padding-left: 13%;
    padding-top: 3rem;
    padding-bottom: 2.4rem;
}

.img1{
    width: 225px;
    height: 225px;
    border-radius: 20px;
    margin: 2rem;
    transition: all 300ms;
}

.img1:hover{
    transform: scale(1.15);
}

.img2{
    padding: 1rem;
    width: 90px;
    height: 90px;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

table{
    background-color: rgba(104, 36, 68, 0.479);
    border-radius: 20px;
}