@keyframes animacion_test{
    from{
        background-color: rgb(9, 61, 9);
    }
    to{
        background-color: rgb(127, 49, 160);
    }
}

@keyframes animacion_jiro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label_animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label_container{
    width: 100%;
    padding: 1.3rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(9, 61, 9);
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label_animacion;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 10px solid rgba(48, 201, 48, 0.603);
    border-top: 10px solid rgba(138, 136, 50, 0.603);
    border-radius: 50%;
    animation: animacion_jiro 2s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid rgba(102, 137, 161, 0.603);
    border-top: 16px solid rgba(190, 87, 46, 0.603);
    border-bottom: 16px solid rgba(190, 87, 46, 0.603);
    border-radius: 50%;
    animation: animacion_jiro 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: rgb(9, 61, 9);
    color:antiquewhite ;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion_test 2s alternate infinite;
}