@keyframes animacionBoton {
    from{
        box-shadow: 1px 1px 10px rgb(131, 17, 102);
        border-color: rgb(131, 17, 102);
        background-color: rgb(189, 111, 212);
        color: rgb(131, 17, 102);
    }
    to{
        box-shadow: 1px 1px 10px rgb(89, 18, 131);
        border-color: rgb(89, 18, 131);
        background-color: rgb(100, 58, 112);
        color: rgb(189, 111, 212);
    }
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body::before{
    content : '';
    width: 100%;
    min-height: 515vh;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(60deg, rgb(255, 0, 0),rgb(4, 255, 46), rgb(30, 157, 167), rgb(26, 1, 255), rgb(255, 0, 221));
    opacity: .5;
    z-index: -1;
}

.container1{
    padding-left: 15%;
    padding-top: 1.5%;
    border: 2px solid rgb(0, 0, 0);
    height: 500px;
    background: linear-gradient(rgba(206, 206, 206, 0.5) ,rgba(199, 198, 198, 0.5)) , url(../JPG/NianCat.gif) no-repeat center fixed;
    background-size: cover;
}

.container2{
    float: right;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(49, 97, 160, 0.664);
    padding-right: 1.4rem;
    margin-right: 1rem;
    border-radius: 15px;
}

.container3-2{
    height: 340px;
    width: 1000px;
    background: rgba(109, 82, 228, 0.664);
}

.container3-3{
    height: 200px;
    width: 1000px;
    background: rgba(109, 82, 228, 0.664);
}

.table1{
    border: 5px solid rgb(130, 159, 221);
    padding: 2rem;
    width: 750px;
}

.entrada{
    margin-left: 3rem;
    border: 2px solid rgb(74, 163, 148);
    border-radius: 5px;
    background-color: aquamarine;
}


.input_text{
    margin-left: 3rem;
    border: 2px solid rgb(105, 240, 217);
    border-radius: 5px;
    background-color: rgb(149, 236, 207);
}


.formulario{
    display: inline;
    float: left;
}

.boton1{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 150px;
    height: 70px;
    background-color: rgb(189, 111, 212);
    font-size: 1rem;
    animation: animacionBoton 2s alternate infinite;
    border-color: rgb(131, 17, 102);
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hr1{
    height: 5px;
    background-color: rgb(84, 135, 180);
    border-color: rgb(103, 169, 226);
}

.hr2{
    height: 5px;
    background-color: rgb(84, 135, 180);
    border-color: rgb(103, 169, 226);
}

footer{
    padding-left: 15%;
    padding-top: 1.5%;
    border: 2px solid rgb(0, 0, 0);
    height: 500px;
    background: linear-gradient(rgba(206, 206, 206, 0.5) ,rgba(199, 198, 198, 0.5)) , url(../JPG/NianCat.gif) no-repeat center fixed;
    background-size: cover;
}