body::before{
    content : '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    opacity: .5;
    z-index: -1;
}